.decore {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
}

.navbar {
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
}
.navbar .nav-item {
  margin-right: 50px;
}
.navbar .nav-item:nth-last-child(1) {
  margin-right: 0;
}

.section-jumbotron {
  margin-bottom: 110px;
}
.section-jumbotron .title h5 {
  color: #DF6951;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}
.section-jumbotron .title h1 {
  color: #181E4B;
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  margin-bottom: 30px;
}
.section-jumbotron .title p {
  color: #5E6282;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 32px;
}
.section-jumbotron .title .btn-find-out {
  background-color: #F1A501;
  font-size: 18px;
  color: #fff;
  padding: 19px 26px;
  border-radius: 10px;
  margin-right: 40px;
}
.section-jumbotron .title .btn-find-out:hover {
  background-color: #e19a00;
}
.section-jumbotron .title .btn-play-demo {
  background-color: #DF6951;
  display: inline-block;
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  margin-right: 20px;
}
.section-jumbotron .title .btn-play-demo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translateY(-50%);
  display: inline-block;
  border-left: 15px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.section-jumbotron .title .btn-play-demo:hover {
  background-color: #da745f;
}
.section-jumbotron .title span {
  font-size: 17px;
  line-height: 25px;
  font-weight: 500;
  color: #686D77;
}

.section-services {
  position: relative;
  margin-bottom: 160px;
}
.section-services .bintang {
  position: absolute;
  top: 0;
  right: 10%;
}
.section-services h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #5E6282;
}
.section-services h1 {
  font-family: "Volkhov", serif;
  font-size: 50px;
  line-height: 64px;
  font-weight: 700;
  color: #14183E;
}
.section-services .content {
  margin-top: 70px;
  gap: 75px;
}
.section-services .content .card-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 260px;
}
.section-services .content .card-services h5 {
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #1E1D4C;
}
.section-services .content .card-services p {
  font-size: 16px;
  line-height: 26px;
  color: #5E6282;
}
.section-services .content .card-services .image {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 169px;
}

.section-destinations {
  margin-bottom: 170px;
}
.section-destinations h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #5E6282;
  font-family: "Poppins", sans-serif;
}
.section-destinations h1 {
  font-family: "Volkhov", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 64px;
  color: #14183E;
}
.section-destinations .content {
  margin-top: 60px;
}
.section-destinations .content .card {
  flex-basis: 315px;
  border-radius: 24px;
  box-shadow: 0px 8px 33px -3px rgba(0, 0, 0, 0.1);
}
.section-destinations .content .card img {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  max-height: 327px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section-destinations .content .card .card-body {
  padding: 20px 20px 40px 20px;
}
.section-destinations .content .card .card-body .arrow {
  margin-right: 15px;
}
.section-destinations .content .card .card-body .location h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #5E6282;
}
.section-destinations .content .card .card-body span {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.section-book .content-1 h5 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 27px;
  color: #5E6282;
  margin-bottom: 15px;
}
.section-book .content-1 h1 {
  font-size: 50px;
  font-family: "Volkhov", serif;
  font-weight: 700;
  line-height: 64px;
  color: #14183E;
  max-width: 511px;
  margin-bottom: 30px;
}
.section-book .content-1 .step {
  margin-bottom: 48px;
  max-width: 394px;
}
.section-book .content-1 .step h5 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 19px;
  color: #5E6282;
  margin-bottom: 5px;
}
.section-book .content-1 .step p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 19px;
  color: #5E6282;
}
.section-book .content-2 .card {
  border-radius: 24px;
  border: none;
  box-shadow: 40px -37px 100px -48px #59B1E6;
}
.section-book .content-2 .card .content-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 20px 24px 26px 24px;
  border-radius: 24px;
  max-width: 321px;
}
.section-book .content-2 .card .card-body {
  padding: 0 24px 24px 24px;
}
.section-book .content-2 .card .card-body h5 {
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #000;
  margin-bottom: 13px;
}
.section-book .content-2 .card .card-body p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #84829A;
  margin-bottom: 21px;
}
.section-book .content-2 .card .card-body .icon {
  margin-bottom: 30px;
}
.section-book .content-2 .card .card-body .icon img {
  width: 36px;
  height: 36px;
  margin-right: 18px;
}/*# sourceMappingURL=mycss.css.map */